/* FILE: newuser.css */

/* Style for the root AnchorPane */
.root {
    -fx-background-color: #2b2b2b;
    background-color: #2b2b2b;
}

/* Style for the VBox */
.vbox {
    -fx-spacing: 20;
}

/* Style for the HBox */
.hbox {
    -fx-spacing: 10;
}

/* Style for the ToolBar */
.tool-bar {
    -fx-background-color: #3c3f41;
    background-color: #3c3f41;
}

/* Style for the Label */
.label {
    -fx-text-fill: #cdcdcd;
    fill: #cdcdcd;
    color: #cdcdcd;
    -fx-font-family: "Roboto", sans-serif;
    font-family: "Roboto", sans-serif;
    -fx-font-size: 40px;
    font-size: 40px;
}

/* Style for the Text elements */
.text {
    -fx-fill: #cdcdcd;
    fill: #cdcdcd;
    color: #cdcdcd;
    -fx-font-family: "Roboto", sans-serif;
    font-family: "Roboto", sans-serif;
    -fx-font-size: 15px;
    font-size: 15px;
}

/* Style for the TextField */
.text-field {
    -fx-background-color: #3c3f41;
    background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    color: #ffffff;
    -fx-border-color: #555555;
    border-color: #555555;
    -fx-border-radius: 5px;
    border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 20, 0, 2, 4);
}


/* Style for the Button */
.button {
    -fx-background-color: #007bff;
    background-color: #007bff;
    -fx-text-fill: white;
    color: white;
    -fx-padding: 10 20;
    padding: 10px 20px;
    -fx-font-size: 14px;
    font-size: 14px;
    -fx-cursor: hand;
    cursor: pointer;
    -fx-border-radius: 5px;
    border-radius: 5px;
    -fx-background-radius: 5px;
}

#createBtn {
    -fx-effect: dropshadow(three-pass-box, rgb(0, 0, 0), 20, 0, 2, 4);
}


.button:hover {
    -fx-background-color: #0056b3;
    background-color: #0056b3;
}

/* Style for the GridPane */
.grid-pane {
    -fx-padding: 20;
    padding: 20px;
    -fx-hgap: 10;
    -fx-vgap: 10;
}